body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /* background: linear-gradient(to right, #b92b27, #1565c0) */
    /* background: linear-gradient(rgba(22, 219, 147, 0.9), rgba(22, 219, 147, 0.9)) */
  }

  .reg a {
    text-decoration: none;
    color: #ff4b92;
}
  
  